.containerLeft{
    width: 40%;
    height: 100vh;
    background-color: rgb(246, 246, 246);
    position: absolute;
}
.containerLeft div img{
    width: 20%;
    height: 15%;
    left: 220px;
    top: 82px;
    position: absolute;
}
.forgetPw form{
    position: absolute;
    left: 60px;
    top: 300px;
    align-items: center;
}
.forgetPw form  div input{
    padding: 10px 270px 10px 12px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    box-sizing: border-box;
    border-radius: 8px;
}
.forgetPw form  div p{
    text-align: center;
}
.forgetPw form div button{
    color: #FFFFFF;
    border: 1px solid #FF9138;
    box-shadow: 0px 0px 1px #f1f4ff;
    border-radius: 8px;
    padding: 0px 40px;
    margin: 5% 5% 0 1%;
    text-align: center;
}
.forgetPw form div button a{
    text-decoration: none;
}
.forgetPw form .continue{
    background: #FF9138;
}
.forgetPw form .cancel{
    background: rgb(246, 246, 246);
    color: #FF9138;
}
.emailForm .containerText .title{
    font-weight: bold;
    font-size: 22px;
    font-style: normal;
    margin-bottom: -50px;
}

.containerRight{
    position: absolute;
    width: 60%;
    height: 80%;
}
.containerRight img{
    margin-left: 800px;
    margin-top: 15%;
}