.containerLeft{
    width: 40%;
    height: 100vh;
    background-color: rgb(240, 232, 232);
    position: absolute;
}
.containerLeft div img{
    width: 30%;
    height: 20%;
    left: 230px;
    top: 82px;
    position: absolute;
}
.resetPwd .containerLeft div p{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #282739;
    margin-left: 30%;
}
.resetPwd form{
    position: absolute;
    text-align: left;
    left: 60px;
    top: 300px;
    align-items: center;
    padding: 10px 24px;
}
.resetForm .icon {
    float: right;
    margin-bottom: -50px;
    position: relative;
    color: #7E7D88;
}
.resetPwd .resetForm div{
    padding: 2%;
}
.resetForm div input{
    border-radius: 5px;
    padding: 10px 270px 10px 12px;
    left: 208px;
    top: 82px;
    border: 1px solid #E7E9F2;
}
.resetPwd .resetForm div button{
    box-shadow: 0px 0px 6px #E7E9F2;
    border: 1px;
    border-radius: 8px;
    background: #FF9138;
    padding: 10px 30px;
    text-align: center;
    margin-left: 35%;
    color: white;
}


.containerRight{
    width: 60%;
    position: absolute;
    left: 671px;
    top: 112.94px;
}