.app{
    width: 100%;
    height: 100%;
}
.app .container-left{
    float: left;
    display: block;
    width: 15%;
    background: #FFFFFF;
}
.app .container-left .logo img{
    width: 40%;
    height: 80%;
    left: 30%;
    top: 5%;
}
.app .container-left .menu-bar{
    left: 4px;
    width: 30%;
    height: 100%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 20px;
    display: block;
    float: left;
}
.app .container-left .menu-bar div a{
    position: absolute;
    text-align: left;
    text-decoration: none;
    color: #7E7D88;
    padding: 15px;
}
.app .container-left .menu-bar div img{
    padding: 15px;
}
.app .container-left .logout{
    margin-top: 800px;
    background: #FFF2E7;
    border-radius: 8px;
    padding: 12px;
    color: #FF7506;
}
.app .container-right{
    width: 100%;
    height: 100%;
    display: block;
}
.app .container-right .container-right-info{
    margin: 5% 10% 5% 5%;
    background: red;
}
.app .container-right .container-right-info .content div p{
    text-align: left;
    float: left;
}